/*DEBUG*/


.ms_debug .ms_main {
    background-color: bisque;
}


.ms_debug .ms_aside_top {
    height: calc(100% - 30px);
}

.ms_debug .ms_aside_bottom {
    height: 30px;
}

.ms_debug #content {
    background-color: antiquewhite; 
}

.ms_debug .ms_students {
    background-color: #1b72e8;
}



/*COLORS*/

:root {
    --ms_gray: #e5e5e5;
    --ms_darkblu: #051e34;
    --ms_pillblu: #165bba;
}

.ms_background_gray {
    background-color: var(--ms_gray);
}

.ms_background_darkblu {
    background-color: var(--ms_darkblu);
}

.ms_background_pillblu {
    background-color: var(--ms_pillblu);
}



/*REGOLE DI CSS*/

.ms_logo_widht {
    max-width: 50px;
}

.ms_header {
    height: 70px;
}

.ms_main {
    height: calc(100vh - 70px);
}

.ms_aside {
    width: 70px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png) 
}

#content {
    width: calc(100% - 70px);
    overflow-y: scroll;
}

.ms_margin_neg {
    margin-left: -150px;
}

.ms_paddin_plus {
    padding: 3px;
}

.ms_td_date_width {
    width: 110px;
}

.ms_td_roi_width {
    width: 80px;
}

.ms_td_state_width {
    width: 80px;
}

.ms_td_action_width {
    width: 100px;
}


.ms_avatar_img {
    width: 30px;
    border-radius: 50%;
}

.ms_tab_button_icon {
    padding: 2px 6px;
}


/*RESPONSIVE*/

@media screen and (min-width: 768px) {

    .ms_reverse {
        flex-direction: row-reverse;
    }
    
}

@media screen and (min-width: 992px) {
    .ms_aside {
        width: 150px;
    }

    #content {
        width: calc(100% - 150px);
    }


}
