/*DEBUG*/


.ms_debug .ms_main {
    background-color: bisque;
}


.ms_debug .ms_aside_top {
    height: calc(100% - 30px);
}

.ms_debug .ms_aside_bottom {
    height: 30px;
}

.ms_debug #content {
    background-color: antiquewhite; 
}

.ms_debug .ms_students {
    background-color: #1b72e8;
    height: 150px;
}



/*COLORS*/

:root {
    --ms_gray: #e5e5e5;
    --ms_darkblu: #051e34;
}

.ms_background_gray {
    background-color: var(--ms_gray);
}

.ms_background_darkblu {
    background-color: var(--ms_darkblu);
}

/*REGOLE DI CSS*/

.ms_logo_widht {
    max-width: 50px;
}

.ms_header {
    height: 70px;
}

.ms_main {
    height: calc(100vh - 70px);
}

.ms_aside {
    width: 70px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png) 
}

#content {
    width: calc(100% - 70px);
    overflow-y: scroll;
}

.ms_margin_neg {
    margin-left: -150px;
}


/*RESPONSIVE*/

@media screen and (min-width: 992px) {
    .ms_aside {
        width: 150px;
    }

    #content {
        width: calc(100% - 150px);
    }
    
}
